body {
  background-color: rgb(0, 0, 0);

}
button {
  cursor: pointer;
}
#header {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.container {
  margin: auto;
  margin-top: 6%;
  width: fit-content;
  padding: 20px;
  background-image: radial-gradient(white, #e66f00);
  font-family: sans-serif;
  border: 2px solid transparent;
  border-radius: 5%;
  box-shadow: 0px 0px 20px 10px #e66f00;
}
#bmi {
  width: 100px;
  padding: 10px 0;
  margin-left: 33%;
  background-color: black;
  color: white;
  border-radius: 10%;
}
#clear {
  padding: 10px 20px;
  border-radius: 15%;
  margin-left: 39%;
  color: white;
  background-color: black;
}
#secIn {
  float: right;
}
#comment {
  color: rgb(0, 0, 0);
}
#error {
  color: rgb(0, 0, 0);
}
.input {
  background-color: transparent;
  color: black;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-color: black;
}
#gndr {
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-color: black;
}
.myLabel {
  font-family: "Times New Roman", Times, serif;
}
input {
  width: 50px;
}
